
<div class="btn-group" role="group" style="width:100%;">
  <button type="button" (click)="addUDA()" class="btn btn-secondary">
    ADD ATTRIBUTES
  </button>
</div>
<div *ngFor="let uda of userDefinedAttributes; index as i">
  <div class="row">
    <div class="col-6">
        <mat-form-field>
          <input matInput #key placeholder="Name" (keyup)="addKey(key.value, i)">
        </mat-form-field>
        <mat-form-field>
          <input matInput #value placeholder="Value" (keyup)="addValue(value.value, i)">
        </mat-form-field>
    </div>
    <div class="col-6"style="margin:auto;">
          <button mat-raised-button (click)="removeUDA(i)" type="button" class="btn btn-secondary"><fa-icon [icon]="faMinus"></fa-icon></button>
    </div>
  </div>
</div>