<div class="row">
    <div class="col">
      <div class="row">
          <div class="col-4">
              <h2>{{ title | uppercase }}</h2>
          </div>
          <div class="col-8">
              <div class="btn-toolbar" role="toolbar">
                  <div class="btn-group mr-2" role="group">
                      <button mat-raised-button (click)="addNewEntity()" type="button" class="btn btn-secondary"><fa-icon [icon]="faPlus"></fa-icon></button>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col">
        
    </div>
    <div class="w-100"></div>
    <div class="col">
        <app-entity-list [title]="title" [entities]="entities" (entitySelected)="entitySelected($event)"></app-entity-list>
    </div>
    <div class="col"> 
        <app-entity-details [entity]="selectedEntity" [disabled]="cancelEntityEdit" [entityType]="entityType"></app-entity-details>
    </div>
  </div>