<div class="btn-toolbar" role="toolbar">
  <div class="btn-group mr-2" role="group">
    <button *ngIf="disabled" (click)="disabled = false" type="button" class="btn btn-secondary">EDIT</button>
    <button *ngIf="!disabled" (click)="disabled = true" type="button" class="btn btn-secondary">CANCEL</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <div class="btn-group" role="group">
      <button type="button" [disabled]="disabled" class="btn btn-secondary">
        ADD ATTRIBUTES
      </button>
    <button type="button" class="btn btn-secondary" [disabled]="disabled">SAVE</button>
  </div>
</div>
<div class="btn-group mr-2" role="group">
  <button type="button" class="btn btn-danger">DELETE</button>
</div>
<form *ngIf="entity">
  <mat-list>
    <div>
      <mat-form-field>
        <input matInput placeholder="Id" value="{{entity.id}}" disabled="disabled">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" value="{{entity.name}}" disabled="{{disabled}}">
      </mat-form-field>
    </div>
    <div *ngIf="entityHasValues()">
      <mat-list-item>
        <h5>User Defined Attributes</h5>
      </mat-list-item>
      <div *ngFor="let value of entity.values | entityValues">
        <mat-form-field>
          <input matInput placeholder="{{value[0]}}" value="{{value[1]}}" disabled="{{disabled}}">
        </mat-form-field>
      </div>
    </div>
  </mat-list>
</form>