<form #entityForm="ngForm">
  <mat-list>
    <div *ngIf="showId">
      <mat-form-field>
        <input matInput placeholder="Id" value="entity.id" disabled="disabled">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="entity.name" name="name" disabled="{{disabled}}">
      </mat-form-field>
    </div>
    <div *ngIf="entityHasUDAs()">
      <mat-list-item>
        <h5>User Defined Attributes</h5>
      </mat-list-item>
      <div *ngFor="let uda of entity.values | entityUDAs">
        <mat-form-field>
          <input matInput placeholder="{{uda[0]}}" [(ngModel)]="uda[1]" name="value" disabled="{{disabled}}">
        </mat-form-field>
      </div>
    </div>
  </mat-list>
</form>